* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Oxygen', sans-serif;
    background-color: #ededed ;
}

.main
{
    height: 100vh;
    width: 100%;
    background-image: url(images/blå.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    padding: 40px 0;
    background-color: lightgray;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: dodgerblue;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 90%;
}

.footer .social a:hover {
    opacity: 120%;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;;
    text-decoration: none;
    opacity: 80%;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}


.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

.footer p {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}




