<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist Frontpage</title>
    <link href="frontpage.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<div class="main">
    <nav>
        <h2 class="logo">Portfolio</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </nav>

    <div id="introduction-div">
        <h1>The real blessing in life is gifting your loved ones</h1>
        <hr>
        <br>
        <h2>Wishlist.com</h2>
    </div>
</div>


</section>

<section class="footer">
    <div class="social">
        <a href="https://github.com/navidmirzad/wishlist-miniproject"><i class="fab fa-github"></i></a>
    </div>

    <ul class="list">
        <li>
            <a href="/wishlist/frontpage">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <p class="copyright">
        Mathias Wulff <br>
        Enes Kocer <br>
        Navid Mirzad <br>
        2023
    </p>
    <p>MathiasWulff@hotmail.com</p>
    <p>EnesKocer@hotmail.com</p>
    <p>navidmirzad@hotmail.com</p>
</section>

</body>
</html>